*{
    margin: 0px;
    padding: 0px;
}
body 
{
    background: #eee;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #c7c7c7;
}

/*Style element*/
.mybtnOk{
    font-size: 13px;
}

.menuDiv 
{
    height: auto;
    width: 100%;
    background: #eee;
    position: relative;
    display: inline-block;
}
.ulMenu > li
{
    width: 24.1%;
    list-style-type: none;
    float: left;
    /* padding: 80px; */
    margin: 5px;
    background: #eee;
    position: relative;
    min-height: 275px;
    max-height: 300px;
    background: blue;
    height: 0px;
}
.menuDiv > h3
{
    text-align:center;
}
.bl1 {
    background: red;
    width: 100%;
    height: 100%;
    display: block;
}
.bl1 > .imgBl1
{
    background-image:url("../images/margherita-pizza-0210-x.jpg");
    width: 100%;
    background-size: cover;
    height: 100%;
}
span.spanTitle {
    color: #dedede;
    font-size: 22px;
    font-weight: 600;
    bottom: 5px;
    position: absolute;
    width: 100%;
}
.zan{
    width: 100%;
    height: 100%;
    background: rgba(84, 84, 84, 0.5);

}
.zan:hover{
    background: rgba(239, 239, 239, 0.5);
}

#zan{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 0, 0, 0.42);
    opacity:0;
}


.transitionObj {
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
}

/*Style blocks*/
    .bg1{
        background-image: url(../images/margherita-pizza-0210-x.jpg);
        background-size: cover;
        /* padding: 200px 100px; */
        width: 260px;
        margin: 5px 1px 0px 0px;
        height: 590px;  
        position: relative;
    }
    ul.ulBlock {
        display: inline-block;
    }
    ul.ulBlock > li{
        float:left;
        list-style:none;
    }
    .bgZn{
        height: auto;
        background: rgba(0, 0, 0, 0.48);
        position: absolute;
        bottom: 0px;
        width:100%;
    }
    .bgTitle{
        background: rgba(47, 47, 47, 0.84);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }
    .bgTitle > a{
        padding: 15px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }
    .bgZn > ul{
        padding-left: 18px;
        height:0px; /*Изменяемое значение*/
    }
    .bgZn > ul > li{
        list-style:none;
        display: none;   /*Изменяемое значение*/
        opacity:0;
    }
    .bgZn > ul > li > a{
        color:#fff;
        text-decoration:none;
        font-size: 16px;
    }

/*View 2*/
.my_h2{
    padding: 10px;
    background: #eee;
    text-align: center;
    font-family: Helvetica;
    font-size: 42px;
}
.block_restor {
    width: 100%;
    height: 280px;
    background: linear-gradient(to right, #FFFFFF 0%, #f1f1f1 50%, #eee 100%);
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #c7c7c7;

    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.img_kafe_ic {
    width: 30%;
    height: 100%;
    background-image:url(../images/margherita-pizza-0210-x.jpg);
    background-size:cover;
}
.block_restor > div{
    float:left;
}
.block_restor:hover{
    background: linear-gradient(to right, #FFFFFF 0%, #e0e0e0 50%, #d6d6d6 100%);
    transform: perspective(0px) rotate3d(0,0,-1,0.3deg);
}
.content_kafe{
    display: block;
    padding-left: 30px;
    height: 100%;
    color: #525252;
}
/*dishes index*/
.mytable{
    width:100%;
}
.dishesdiv{
    background:#fff;
    padding:10px;

    /*!!*/
    position: relative;
    display: inline-block;
}
.mybody-content{
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
#content{
    position: absolute;
    background: #fff;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.top_ic{
    display:none;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 40px;
    margin-top: 10px;
    cursor:pointer;
}

/*!!*/
.tInfo {
    float: left;
}

div#conteiner {
    width: 100%; /* Ширина макета */
    margin: 0 auto; /* Выравниваем макет по центру */
    position: relative;
    background: #fff;
    position: relative;
}
.layer1{
    background:#fff;
    padding: 10px;
}
.layer2{
    background: #fff;
    padding: 10px;
    min-height: 320px;
    margin-left: 5px;
}
.layer1 > div {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #eee;
}

@media (min-width: 992px){
    .col-md-8 {
        width: 75.666667%;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 23.333333%;
    }
}


/*Cart*/
.cart_ic{
    background-image:url(../images/cart2.png);
    width: 40px;
    height: 40px;
    padding: 6px;
    float: right;
    background-size:cover;
    margin-top:5px;
    cursor:pointer;
}
.num_cart{
    width: 15px;
    height: 15px;
    background: #ff9f3c;
    border-radius: 10px;
    float: right;
    color: #fff;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
}
.cartWin {
    width: 60%;
    background: #979797;
    padding:10px;
    min-height: 600px;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display:none;
}