@model IEnumerable<delapp.Models.Dish>
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Список ресторанов</title>
</head>
<body>
    <div>
        <table class="table-condensed">
            <tr>
                <td>Название</td>
                <td>Цена</td>
                <td></td>
            </tr>
            @foreach (var item in Model)
            {
                if (item.Anything == ViewBag.Dish)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            <div class="pull-right">
                                @Html.HiddenFor(x => item.Id)
                                @Html.Hidden("returnUrl", Context.Request.Path, Context.Request.QueryString)
                                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
                            </div>

                        }</td>
                    </tr>
                }

            }
        </table>

    </div>
</body>
</html>