@{
    ViewData["Title"] = "Список еды";
}
    <!--
    <a href="~/Home/Restaurants/Pizza">Пицца</a>
    <a href="~/Home/Restaurants/Sushi">Суши</a>
    <a href="~/Home/Restaurants/Fastfood">Fast-Food</a>
    <a href="~/Home/Restaurants/Hotdish">Горячие блюда</a>
    <a href="~/Home/Restaurants/Salad">Салаты</a>
    <a href="~/Home/Restaurants/Other">Другое</a>
    -->

    <div class="mybody-content">
        <div class="blocks">
            <ul class="ulBlock">
                <li>
                    <div class="bg1">
                        <div class="bgZn bgZn1">
                            <ul>
                                <li><a href="#">Text 1</a></li>

                            </ul>
                            <div class="bgTitle bgTitle1">
                                <a href="~/Home/Restaurants/Pizza">Пицца</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg1">
                        <div class="bgZn bgZn2">
                            <ul>
                                <li><a href="#">Text 1</a></li>
                            </ul>
                            <div class="bgTitle bgTitle2">
                                <a href="~/Home/Restaurants/Sushi">Суши</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg1">
                        <div class="bgZn bgZn3">
                            <ul>
                                <li><a href="#">Text 1</a></li>
                            </ul>
                            <div class="bgTitle bgTitle3">
                                <a href="~/Home/Restaurants/Fastfood">Fast-Food</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg1">
                        <div class="bgZn bgZn4">
                            <ul>
                                <li><a href="#">Text 1</a></li>
                                <li><a href="#">Text 1</a></li>
                                <li><a href="#">Text 1</a></li>
                                <li><a href="#">Text 1</a></li>
                            </ul>
                            <div class="bgTitle bgTitle4">
                                <a href="~/Home/Restaurants/Hotdish">Горячие блюда</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg1">
                        <div class="bgZn bgZn5">
                            <ul>
                                <li><a href="#">Text 1</a></li>
                            </ul>
                            <div class="bgTitle bgTitle5">
                                <a href="~/Home/Restaurants/Salad">Салаты</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bg1">
                        <div class="bgZn bgZn6">
                            <ul>
                                <li><a href="#">Text 1</a></li>
                            </ul>
                            <div class="bgTitle bgTitle6">
                                <a href="~/Home/Restaurants/Other">Другое</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="content">

    </div>
    <script type="text/javascript" src="~/js/kithcenBlocks.js"></script>
    
