@{
    ViewData["Title"] = "Список еды";
}
<!--
<a href="~/Home/Restaurants/Pizza">Пицца</a>
<a href="~/Home/Restaurants/Sushi">Суши</a>
<a href="~/Home/Restaurants/Fastfood">Fast-Food</a>
<a href="~/Home/Restaurants/Hotdish">Горячие блюда</a>
<a href="~/Home/Restaurants/Salad">Салаты</a>
<a href="~/Home/Restaurants/Other">Другое</a>
-->

<div class="mybody-content">
    <div class="blocks">
        <ul class="ulBlock">
            <li>
                <div class="bg1">
                    <div class="bgZn bgZn1">
                        <ul>
                            <li><a href="#">Text 1</a></li>

                        </ul>
                        <div class="bgTitle bgTitle1">
                            <a class="opacityNull" href="~/Home/Restaurants/Pizza">Пицца</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="bg1">
                    <div class="bgZn bgZn2">
                        <ul>
                            <li><a href="#">Text 1</a></li>
                        </ul>
                        <div class="bgTitle bgTitle2">
                            <a href="~/Home/Restaurants/Sushi">Суши</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="bg1">
                    <div class="bgZn bgZn3">
                        <ul>
                            <li><a href="#">Text 1</a></li>
                        </ul>
                        <div class="bgTitle bgTitle3">
                            <a href="~/Home/Restaurants/Fastfood">Fast-Food</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="bg1">
                    <div class="bgZn bgZn4">
                        <ul>
                            <li><a href="#">Text 1</a></li>
                            <li><a href="#">Text 1</a></li>
                            <li><a href="#">Text 1</a></li>
                            <li><a href="#">Text 1</a></li>
                        </ul>
                        <div class="bgTitle bgTitle4">
                            <a href="~/Home/Restaurants/Hotdish">Горячие блюда</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="bg1">
                    <div class="bgZn bgZn5">
                        <ul>
                            <li><a href="#">Text 1</a></li>
                        </ul>
                        <div class="bgTitle bgTitle5">
                            <a href="~/Home/Restaurants/Salad">Салаты</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="bg1">
                    <div class="bgZn bgZn6">
                        <ul>
                            <li><a href="#">Text 1</a></li>
                        </ul>
                        <div class="bgTitle bgTitle6">
                            <a class="opacityNull" href="~/Home/Restaurants/Other">Другое</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="content">
    <div><img class="top_ic" src="~/images/top.png"/></div>
</div>
<hr/>


<!--
<div class="row">
    <div class="col-md-8 layer1">
        <div class="tInfo"><img src="~/images/margherita-pizza-0210-x.jpg" style="width:130px; height:130px;" /></div>
        <div class="tInfo" style="margin: 0px 30px 0px 30px;"><h5>Куриная барбекю</h5></div>
        <div class="tInfo" style="margin: 0px 30px 0px 30px;"><h5>600 руб</h5></div>
        <div class="tInfo" style="float: right;">
            <input type="submit" data-id="@ViewBag.id" data-title="Куриная барбекю" data-price="600" class="btn btn-success btnShop" value="Добавить в корзину" />
        </div>
        <div style="display: inline-block; padding: 0px 30px; width: 70%;">Нежное филе с соусом барбекю (куриное филе, грибы, помидор, лук, сливочно-чесночный соус</div>
    </div>
    <div class="col-md-4 layer2">
        <div class="cart_title">Куриная барбекю</div>
        <div class="cart_price_count">
            <span><label>600 руб</label></span>
            <span>1x</span>
        </div>
    </div>
</div>
-->
<script type="text/javascript" src="~/js/kithcenBlocks.js"></script>