@{
}
<html>
<head>
    <title>Магазин ЕДЫ</title>
</head>
<body>
    <a href="~/Home/Restaurants/Pizza">Пицца</a>
    <a href="~/Home/Restaurants/Sushi">Суши</a>
    <a href="~/Home/Restaurants/Fastfood">Fast-Food</a>
    <a href="~/Home/Restaurants/Hotdish">Горячие блюда</a>
    <a href="~/Home/Restaurants/Salad">Салаты</a>
    <a href="~/Home/Restaurants/Other">Другое</a>
    
</body>
</html>